<div class="form-group"
	ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
	<label>Nome</label> <input ng-readonly="readOnly" type="text" name="name" class="form-control"
		ng-model="reserva_pendente.nome" required />
	<p class="help-block" ng-show="form.name.$error.required && submitted">A
		Nome é obrigatório</p>
</div>

<div class="form-group"
	ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
	<label>Email</label> <input ng-readonly="readOnly" type="email" name="email"
		class="form-control" ng-model="reserva_pendente.email" required
		mongoose-error />
	<p class="help-block" ng-show="form.email.$error.email && submitted">
		Não parece com um email válido.</p>
	<p class="help-block" ng-show="form.email.$error.required && submitted">Qual é o seu endereço de email?</p>
	<p class="help-block" ng-show="form.email.$error.mongoose">{{errors.email }}</p>
</div>

<div class="form-group"
	ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
	<label>Instalação esportiva</label> <input type="text" name="name" class="form-control" ng-model="reserva_pendente.recurso" required/>
	<p class="help-block" ng-show="form.name.$error.required && submitted">A
		Instalação esportiva é obrigatório</p>
</div>

<div > 
	<div style="float: left;">
		<label>Data</label> 
		<input type = "date" name = "data" id ="data" ng-model="reserva_pendente.data" required/> <br/> 
	</div>

	<div style="float: right, position: relative;">
		<label>Horário</label> 
		<input type=number min=6 max=20 style="height: 40px;" ng-model="reserva_pendente.hora" required> 
	</div>
<br>
	<div style="float: right, position: relative;">
		<label>Quantidade Mínima de Pessoas</label> 
		<input type=number min=0 max=22 style="height: 40px;" ng-model="reserva_pendente.qtdMinimaPessoas" required> 

</div>
	<div style="float: right, position: relative;">

		<label>Quantidade de Pessoas</label> 
	
			</p><div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-danger btn-number"  ng-click="diminuiCount()">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>

          <input type="text" name="quant[2]" class="form-control input-number" ng-model="reserva_pendente.qtdPessoas" min="1" max="100">

          <span class="input-group-btn">
              <button type="button" class="btn btn-success btn-number" ng-click="aumentaCount()" data-type="plus" data-field="quant[2]">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
      </div>
	<p></p>
	</div>

	
</div>

<br></br>