<div class="form-group"
	ng-class="{ 'has-success': form.descricao.$valid && submitted,
                                            'has-error': form.descricao.$invalid && submitted }">
	<label>Descrição</label> <input type="text" name="descricao" class="form-control"
		ng-model="reserva.descricao" required />
	<p class="help-block" ng-show="form.name.$error.required && submitted">A
		Descrição é obrigatória</p>
</div>

<div class="form-group"
	ng-class="{ 'has-success': form.recurso.$valid && submitted,
                                            'has-error': form.recurso.$invalid && submitted }">
	<label>Instalação esportiva</label> <select ng-if="!readOnly" name="recurso" class="form-control" ng-model="reserva.recurso" 
												ng-change="reservaMaisRecenteDoRecurso()" required>
	<option ng-repeat="recurso in recursos" ng-value="recurso.nome" ng-if="recurso.active" ng-selected="recurso.nome == reserva.recurso"> 
		{{ recurso.nome }}
	</option>
	</select>
	<input ng-if="readOnly" ng-readonly="true" type="text" name="name" class="form-control"
		ng-model="reserva.recurso" required />
	<p class="help-block" ng-show="form.name.$error.required && submitted">A
		Instalação esportiva é obrigatório</p>
</div>

<div > 
	<div style="float: left;">
		<label>Data</label> 
		<input type = "date" name = "data" id ="data" ng-model="reserva.data" ng-readonly="readOnly"
			min="{{minDiaReserva.getFullYear()}}-{{twoDigits(minDiaReserva.getMonth()+1)}}-{{twoDigits(minDiaReserva.getDate())}}"
			max="{{maxDiaReserva.getFullYear()}}-{{twoDigits(maxDiaReserva.getMonth()+1)}}-{{twoDigits(maxDiaReserva.getDate())}}" required/> <br/> 
	</div>
	<div style="float: right, position: relative;">
		<label>Horário</label> 
		<input type=number min=6 max=20 style="height: 40px;" ng-model="reserva.hora" ng-readonly="readOnly" required> 
	</div>
	
</div>

<br></br>